/*@import url(https://fonts.googleapis.com/css?family=Archivo+Narrow);
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Pompiere&display=swap" rel="stylesheet">*/

body {
    max-width: 45rem;
    font-family: "Limelight", helvitica, sans-serif;
    margin:auto;
    font-size: 18px;
    line-height: 1.4;
}
header img {
    max-width: 110px;
    border: 1px solid rgb(0, 0, 0);
    margin-top: 8px;
}
#assignments {
    padding: 10px;
}
h1 {
    font-size: 1.5rem;
}
h2 {
    font-size: 1rem;
}
header, footer {
    background-color: #48cee9;
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 3px;
}
a {
    color: black;
}
a:hover {
    color:blue;
} 
