* {
    box-sizing: border-box;
  }
body {
    background-color: #14507b;
    font-family: 'Lato', 'Lucida Sans', Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.4;
    margin: auto;
}
.background-color {
    background-color: #F3EBE2;
    margin: 10px;
    border: 10px solid #B3E6D5;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Marcellus', 'Times New Roman', Times, serif;
}
header h1 {
    font-size: 3em;
    margin-bottom: 5px;
}
header img {
    margin: .5em;
}
a:link, a:visited {
    color: black;
}

/*******Footer********/

.ft {
    border-top: 10px solid #B3E6D5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: .4rem;
    background-color: #B3E6D5;
}
.contact-info {
    margin: .5rem auto;
}
.quote {
    grid-column: span 2;
    margin: .5rem auto;
}
.quote p, .quote h4 {
    display:none;
    text-align: center;
    vertical-align: center;
    padding: .3rem;
}
.quote h4 {
    display:none;
}
.quote p.links {
    display: block;
}
.ft iframe {
    margin: auto;
    max-width: 100%;
}
.social-media img {
    margin: auto;
    padding: .5rem;
    width: inherit;
    height: inherit;
    max-width: 100%;
}

/*******Navigation********/

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}
nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: #000;
    border-top: 1px solid rgba(0,0,0,0.3);
    text-align: center; 
}
nav ul li a:hover {
    background-color: #14507b;
    color: #F3EBE2;
}
nav ul.hide {
    display: none;
}
.active {
    font-weight:bold;
    font-size: 20px;
}
nav button, .submitBtn{
    background-color:#14507b;
    color:#F3EBE2;
    font-size: 1.2rem;
    padding: 5px;
    margin: .8rem;
    border-radius: 8px;
}

/*******Index Page********/

.weather-alert {
    display: none;
    border: 10px solid red;
    background-color: white;
    padding: .8rem;
}
.close-btn {
    margin-left: 15px;
    color: red;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
}
.main-pic img{
    display:block;
    margin: auto;
    width: 100%;
    border: 3px solid black;
}
.gridForIndex {
    display: block;
    margin: 10px auto;
    padding: auto;
}
.gridForIndex section {
    background-color: #E3F3F3;
    border: 3px solid black;
    margin: 10px auto;
    padding: .55rem;
    text-align: center;
    object-fit: cover;
    width: 100%;
}
.arvPict img{
	height:inherit;
	min-width:100%;
	max-width:none;
	margin:0 -100%;
    width: 100%;
}
.grid7 {
    grid-column: span 2;
}
.current-events-list {
    list-style-type: none;
    padding: 0;
}
.adsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 1rem;
    margin: 10px auto;
    padding: auto;
}
.ads{
    background-color: #F3EBE2;
    border: 3px solid black;
    margin: 10px auto;
    padding: .55rem;
    text-align: center;
    object-fit: cover;
    width: 100%;
}
/******City******/
.intro img {
    width: inherit;
    height: inherit;
    max-width: 100%;
}
.current-events{
    display: block;
    border: 3px solid black;
    padding: .8rem;
    margin: .8rem auto;
    justify-content: center;
}
.current-events div {
    text-align: center;
    object-fit: cover;
    width: 100%;
}
.current-events img {
    border: 3px solid black;
    display: block;
    margin: .8rem auto;
    height:inherit;
	min-width:100%;
	max-width:100%;
    width: 100%;
}
.current-events div:nth-child(3) {
    display: none;
}
.history img {
    display: float;
    float: left;
    margin-right: .8rem;
    width: 65%;
    height: 65%;
}
.history p {
    text-align: left;
    margin: auto 10px;
}
/******Join******/
.join-form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: .8rem;
}
.join-form img {
    display: block;
    margin: 3rem auto;
    border: 3px solid black;
    max-width: 100%;
}
.join-grid ul li {
    text-align: left;
}
fieldset img {
    display: none;
}
.join-form {
    border: 3px solid black;
}
fieldset {
    border: none;
    padding: .8rem;
    margin: 10px auto;
}
label {
    line-height: 1.3;
}
label input {
    display: block;
    width: 100%;
    max-width: 30rem;
    padding: .5rem;
}

label input:invalid {
    color: red;
}
.submitBtn {
    display: block;
}
.top, .middle, .bottom {
    display: block;
    padding: .35rem;
}
/******Directory page*******/

.businesses-directory {
    display: grid;
    grid-template-columns: 1fr;
}
.businesses-directory section {
    border: 3px solid black;
    padding: .8rem;
    margin: .8rem auto;
    min-width: 300px;
    width:inherit;
    max-width: 100%;
}
.businesses-directory section h3 {
    text-align: center;
    font-size: 24px;
}
.businesses-directory section img {
    width:inherit;
    height: inherit;
    max-width: 100%;
    margin: 10px auto;
    display:block;
}
.toggle {
    display: none;
}
.intro, .history {
    border: 3px solid black;
    padding: .8rem;
    margin: 10px auto;
    text-align: center;
}
/******Contact******/
.border {
    border: 3px solid black;
    padding: .8rem;
    margin: 10px auto;
    text-align: center;
}
.contact-grid {
    display: block;

    margin: 10px auto;
    text-align: left;
    padding: .8rem
}
.board-directors-grid {
    display: block;

    margin: 10px auto;
    text-align: center;
    padding: .8rem
}

/*******Typography info page*******/

.typography-headings {
    font-family: 'Marcellus', 'Times New Roman', Times, serif;
}
.typography-text {
    font-family: 'Lato', 'Lucida Sans', Geneva, Verdana, sans-serif;
}
.typography-pg {
    max-width: 700px;
    margin: auto;
    padding: 20px;
    background-color: #F3EBE2;
    border: 5 px solid #659B5E;
}