body {
    background-color: #FEED72;
    font-family: 'Handlee', sans-serif;
}
.ifFriday {
    display:none;
    padding: .5rem;
    font-size: larger;
    text-align: center;
}
header {
    display:flex;
    align-content: center;
    justify-content: center;
}
header h1 {
    margin: 10px 0 5px 0;
}
header h3 {
    margin: 5px 0 10px 40px;
}
main {
    padding: 0 12px;
}
h1, h2, h3 {
    font-family: 'Rock Salt', cursive;
    letter-spacing: .1em;
}
.title {
    display: block;
    margin: 12px auto;
    max-width: 700px;
    padding: 15px;
}
footer .ft {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
}
header img {
    max-width: 75%;
    margin: auto 0;
}
.headings {
    display: flex;
    flex-direction: column;
}
.hero-img {
    margin: 10px auto;

    width: 100%;
    margin: 0;
}
.hero-img img {
    width: 100%;    
    border: 3px solid #FFB833;
}
.herodiv {
    margin: 10px auto;
    position: relative;
    max-width: 800px;
    padding: .5rem;
}
.weather-summary {
    top: 40px;
    left: 40px;
    background-color: #FFB83366;
    border: 1px solid black;
    padding: .5rem;
}
.weather-summary h3 {
    border-bottom-style: solid;
}
.weather-summary p, .weather-summary h3 {
    font-weight: bold;
    margin: 15px;
    padding: .1rem;
}
.forecast {
    display: none;
}

.article {
    display: block;
    margin: 12px auto;
    padding: .5rem;
    max-width: 800px;
    background-color:#FFB833;
}
.article-img {
    float: right;
    max-width: 100%;
    border: 1px solid black;
}
.contact-info {
    background-color:#FFB833;
    margin: 0px -12px;
}
.map-img {
    display: none;
}
.contact-info-text {
    margin: 15px;
    padding: 10px;
}
header, footer {
    background-color: #09ADC3;
}
footer {
    padding: .5rem;
}
footer a, footer a:visited {
    color: black;
}
.active {
    font-weight: bolder;
    font-style: italic;    
    color: white;
    background-color: #FFB833;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}
nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: #000;
    border-top: 1px solid rgba(0,0,0,0.3);
    text-align: center; 
}

nav ul li a:hover {
    background-color: #FFB833;
}
nav ul.hide {
    display: none;
}