@media only screen and (min-width: 37.5em) {
    header img {
        max-width: 90%;
    }
    nav button {
        display: none;
    }
    nav ul.hide {
        display: flex;
    }
    nav ul {
        overflow: hidden;
    }
    nav ul li {
        float: left;
        flex: 1;
    }
    nav ul li a {
        border: none;
        padding: .8rem 1rem;
    }
    .weather-summary {
        position: absolute;
        top: 40px;
        left: 40px;
        box-shadow: 0 0 40px #777;
        border: 1px solid #a06800;
    }
    .weather-summary p {
        line-height: .2rem;
    }
        
    .weather-summary h3 {
        border-bottom-style: solid;
    }
    .weather-summary p, .weather-summary h3 {
        font-weight: bold;
        margin: 15px;
        padding: .1rem;
    }
    .forecast {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        padding: .2rem;
        max-width: 780px;
        margin: 0 auto;
        background-color:cornsilk;
        border: 3px solid #FFB833;

        justify-content: space-evenly;
        justify-items: center;
        align-content: space-evenly;
        align-items: center;
    }

    .forecast-heading {
        text-decoration: underline;
        padding: .3rem;
    }
    .contact-info {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .map-img {
        display: block;
        justify-content: right;
        margin: auto;
        padding: .5rem;   
    }
    .contact-info-text {
        justify-content: left;
    }
    .social-media {
        padding: .2rem;
    }
    .gallery-img {
        display: grid;
        grid-template-columns: auto auto;
        gap: 20px;
    }
    div.towns section {
        max-width: 750px;
        overflow: hidden;
    }
    div.towns section img {
        max-width: 60%;
        max-height: none;
    }
    div.towns section:nth-child(odd) img{
        float: left;
        padding: .5rem;
        clear: both;
    }
    div.towns section:nth-child(even) img {
        float: right;
        padding: .5rem;
        clear: both;
    }
}